@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Project Goals";
}
<h1>@ViewData["Title"]</h1>

<p>Able to connect to other raspberry pis and have the following possible actions:</p>
<ul>
    <li>Running automated tests that can relay data back (and plotting that data being recorded)</li>
    <li>Upload code</li>
    <li>Current/live data monitoring (controlling outputs, reading inputs).</li>
</ul>